<div class="pcoded-overlay-box"></div>

<div class="pcoded-container navbar-wrapper">
  <div class="navbar-wrapper">
    <nav
      class="navbar navbar-expand-md flex-nowrap navbar-new-top"
      style="padding: 0.2rem 1.5rem"
    >
      <img
        class="ml-3 p-0"
        src="assets/images/home.png"
        alt=""
        style="width: 22px"
      />
      <a href="/" class="navbar-brand ml-1">Home</a>
      <h2 style="color: white; margin-left: 19em; font-weight: 400">
        Jarvis Statistics
      </h2>

      <!-- <ul class="navbar-nav flex-row">
          <div class="box">
            <div class="container-2">
              <span class="icon"><i class="fa fa-search"></i></span>
              <input type="search" id="search" placeholder="Search..." />
            </div>
          </div>
        </ul> -->
    </nav>
    <!-- right-bar inner chat end -->

    <!-- <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content" style="padding-top: 0px">
            <div class="main-body">
              <div class="page-wrapper" style="padding-bottom: 5px">
                <app-title></app-title>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="page-body">
                  <router-outlet>
                    <app-spinner></app-spinner>
                  </router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>

<div class="row">
   <!-- card1 start -->
   <div class="col-md-6 col-xl-2">
     <div class="card widget-card-1">
       <div class="card-block-small">
         <i
           class="icofont icofont-list bg-c-blue card1-icon"
           style="width: 30px; height: 30px"
         ></i>
         <span class="text-c-blue f-w-600" style="font-size: 15px">Program</span>
         <span class="ml-2 f-w-550" style="font-size: 21px">20</span>
         <div>
           <!--   <span class="f-left m-t-10 text-muted">
             <i class="text-c-blue f-16 icofont icofont-calendar m-r-10"></i>Last 24 hours
           </span>-->
         </div>
       </div>
     </div>
   </div>
   <!-- card1 end -->
   <!-- card2 start -->
   <div class="col-md-6 col-xl-2">
     <div class="card widget-card-1">
       <div class="card-block-small">
         <i
           class="icofont icofont-newspaper bg-c-pink card1-icon"
           style="width: 30px; height: 30px"
         ></i>
         <span class="text-c-pink f-w-600" style="font-size: 15px">SKU</span>
         <span class="ml-2 f-w-550" style="font-size: 21px">57</span>
         <div>
           <!--  <span class="f-left m-t-10 text-muted">
             <i class="text-c-pink f-16 icofont icofont-calendar m-r-10"></i>Last 24 hours
           </span>-->
         </div>
       </div>
     </div>
   </div>
   <!-- card2 end -->
   <!-- card3 start -->
   <div class="col-md-6 col-xl-2">
     <div class="card widget-card-1">
       <div class="card-block-small">
         <i
           class="icofont icofont-gears bg-c-green card1-icon"
           style="width: 30px; height: 30px"
         ></i>
         <span class="text-c-green f-w-600" style="font-size: 15px">Config</span>
         <span class="ml-2 f-w-550" style="font-size: 21px">45</span>
         <div>
           <!-- <span class="f-left m-t-10 text-muted">
             <i class="text-c-green f-16 icofont icofont-calendar m-r-10"></i>Last 24 hours
           </span>-->
         </div>
       </div>
     </div>
   </div>
   <!-- card3 end -->
   <!-- card4 start -->
   <div class="col-md-6 col-xl-2">
     <div class="card widget-card-1">
       <div class="card-block-small">
         <i
           class="icofont icofont-computer bg-c-yellow card1-icon"
           style="width: 30px; height: 30px"
         ></i>
         <span class="text-c-yellow f-w-600" style="font-size: 15px">BKC</span>
         <span class="ml-2 f-w-550" style="font-size: 21px">240</span>
         <div>
           <!--   <span class="f-left m-t-10 text-muted">
             <i class="text-c-yellow f-16 icofont icofont-calendar m-r-10"></i>Last 24 hours
           </span>-->
         </div>
       </div>
     </div>
   </div>
 
   <!-- card2 start -->
   <div class="col-md-6 col-xl-2">
     <div class="card widget-card-1">
       <div class="card-block-small">
         <i
           class="icofont icofont-life-buoy bg-c-pink card1-icon"
           style="width: 30px; height: 30px"
         ></i>
         <span class="text-c-pink f-w-600" style="font-size: 15px"
           >Test Cycle</span
         >
         <span class="ml-2 f-w-550" style="font-size: 21px">2019</span>
         <div>
           <!--  <span class="f-left m-t-10 text-muted">
             <i class="text-c-pink f-16 icofont icofont-calendar m-r-10"></i>Last 24 hours
           </span>-->
         </div>
       </div>
     </div>
   </div>
   <!-- card2 end -->
   <!-- card4 end -->
   <div class="col-md-6 col-xl-2">
     <div class="card widget-card-1">
       <div class="card-block-small">
         <i
           class="icofont icofont-check bg-c-blue card1-icon"
           style="width: 30px; height: 30px"
         ></i>
         <span class="text-c-yellow f-w-600" style="font-size: 15px"
           >TC's Exec</span
         >
         <span class="ml-2 f-w-550" style="font-size: 21px">1220</span>
 
         <div>
           <!--   <span class="f-left m-t-10 text-muted">
           <i class="text-c-blue f-16 icofont icofont-calendar m-r-10"></i>Last 24 hours
         </span>-->
         </div>
       </div>
     </div>
   </div>
   <!-- Statistics Start -->
   <div class="col-md-12 col-xl-12 bckborder">
     <google-chart
       #chart
       [title]="title"
       [type]="type"
       [data]="data"
       [columns]="columns"
       [options]="options"
       [width]="width"
       [height]="height"
     >
     </google-chart>
   </div>
 
   <br />
 </div>